<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Random Gag Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
  <header>
    <h1>Welcome to the Gag Game!</h1>
  </header>
  <div class="glow">
    <a href="{% url 'login' %}">Login Page</a>
    <br>
    <br>
    <a href="{% url 'game' %}">Game Page</a>
  </div>
  <main>
    <div id="game-area"></div>
    
    <!-- functions for showing the JS alert & putting a message in the text box -->
    <p> 
      <button id="alert-btn">Alert Message</button>   <button onclick="randomMessage()">Put A Message In The Textbox Above</button>
    </p>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <h2>Y-Axis Flip</h2>
        </div>
        <div class="flip-box-back">
          <h2>Y-Axis Flip</h2>
        </div>
      </div>
    </div>
    
    <!-- flip text function-->
    <p><button onclick="textChange()">TEXT CHANGE BELOW</button></p>
    <div id="changeText">Click The Button Above</div>
    <script>
    function textChange() {
      var x = document.getElementById("changeText");
      if (x.innerHTML === "YOU WIN!") {
        x.innerHTML = "YOU LOSE!";
      } else {
        x.innerHTML = "YOU WIN!";
      }
    }
    </script>
  </main>

  <footer>
  <div class="footer">
    <p>Created by Team Red <br>
        &copy; 2025, All Rights Reserved
    </p>
</div>
</footer>
  
<script src="{% static 'frontend/js/app.js' %}"></script>
</body>
</html>
