<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>

<body>
  <header>
      <h1>
       Welcome to the gag game!
      </h1>
  </header>
  
  <main>
    <!-- div for the "card" style format on the login screen (style it in style.css)-->
    <div class="login-card">
      <h1 class="header-login">
        <button class="login-btn">LOGIN</button>
      </h1>
      <form id="loginForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password" required>
        </div>
        <button id="login-button">Login</button>
        <button type="button"> Complaint? </button>
      </form>
    </div>
    
<!--  <button class="login-btn">
          <a href="{% url 'start' %}">Login Page</a></button>-->

    <!-- cookies puzzle (cookies consent box)-->
    <div id="cookieConsentBox" style="display: none;">
      <h2>This website uses cookies!</h2>
      <p>We use cookies. We're running out of cookies. Give us your cookies.</p>
      <button id="acceptCookies">Accept</button>
      <button id="rejectCookies">Reject</button>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <p>Created by Team Red <br>
        &copy; 2025, All Rights Reserved
      </p>
    </div>
  </footer>

<!-- connects to JavaScript file with respective functions -->
<script src="{% static 'frontend/js/login.js' %}"></script> 
</body>
</html>