<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>

<body>
  <header>
    <h1>
      Welcome to the gag game!
    </h1>
  </header>

  <button id="bouncingButton">START GAME!</button>
</body>

  <footer>
    <div class="footer">
      <p>Created by Team Red <br>
        &copy; 2025, All Rights Reserved
      </p>
    </div>
  </footer>

<!-- connects to JavaScript file with respective functions -->
<script src="{% static 'frontend/js/start.js' %}"></script> 
</html>